.topElements{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black
}

.logo{
    display: flex;
    align-items:flex-start;
}

.topElements > *{
    margin: 75px;
}
